<h1>Welcome to <%= @crm_app_name %>!</h1>
<h6> <%= @crm_date %> </h6>

<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Create New Contact</a></li>

  <!-- please complete me with links to other actions -->
</ul>
